version: '3.8'

services:
  nginx:
    image: 767397729598.dkr.ecr.us-east-1.amazonaws.com/laravel-ecommerce:nginx-latest
    container_name: laravel-nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - php
    networks:
      - app-network

  php:
    image: 767397729598.dkr.ecr.us-east-1.amazonaws.com/laravel-ecommerce:php-latest
    container_name: laravel-php
    restart: always
    depends_on:
      - mysql
    env_file:
      - .env
    volumes:
      # It's important to map storage to the host so uploads/caches survive container restarts
      - ./storage:/var/www/html/storage
      - ./bootstrap/cache:/var/www/html/bootstrap/cache
    networks:
      - app-network
  mysql:
    image: mysql:8.0
    container_name: laravel-mysql
    restart: always
    environment:
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - app-network
    ports:
      - "3306:3306"

networks:
  app-network:
    driver: bridge

volumes:
  db-data:
